

.header-section h3{
	color:white;
	font-size: 28px;
	text-transform:uppercase;
	font-weight: 700;
}
.header-section{
	background-color:#2C3E50;
	padding:15px 0px;

}
.header-section .navbar{}
.header-section .navbar .nav-item{}
.header-section .navbar .nav-item .nav-link{
	color: white;
	font-size: 22px;
	padding: 0px 15px;
}
.header-section .navbar .nav-item .nav-link:hover{
	color:#1ABC9C; 
}
.header-section .navbar .nav-item.active .nav-link{}




.bannar-section{
	background-color: #1ABC9C;
	padding: 100px 0px;
}
.bannar{
	text-align: center;
	color: white;
}
.bannar h1{
	font-weight: bold;
	font-size: 64px;
	text-transform: uppercase;
	margin: 0px;
	font-weight: 700;
}
.bannar h3 {
    text-transform: uppercase;
    
    font-size: 18px;
    margin: 0px;
    font-weight: 700;
}
.bannar img {
   
    max-width: 20%!important;
    margin-bottom: 30px;
}
img{
	max-width: 100%;
	height: auto;
}
.white {
    width: 120px;
    height: 5px;
    background-color: white;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.gallery-section{
	padding: 100px 0px;
}
.gallary img {
   
    border-radius:5px;
    max-width: 95%;
    
}
.gallary img:hover{
	background: red;
}
.gallery-section h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    
}
.black {
    width: 200px;
    height: 5px;
    background-color: black;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}



.contant-section{
	background-color: #1abc9c;
	padding: 100px 0px;
	color: white;
}
.contant h1{
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.color{
	  width: 200px;
    height: 5px;
    background-color:white;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-weight: 700;

}

.left-contant {
    font-size: 20px;
    width: 300px;
    margin-left: 220px;
    font-weight: 700;
}
.right-contant p {
    font-size: 20px;
    width: 300px;
    margin-right: 220px;
     margin-bottom: 70px;
     font-weight: 700;
    
}
.click{
	margin: auto;
}
.click a {
    border-radius: 10px;
    background-color: #1abc9c;
    padding: 25px 58px;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}





.click a:hover{
	background-color: white;
	color: black;
}




.form-section{}
.heading h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.bllue{
    width: 200px;
    height: 5px;
    background-color:black;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.custom{
	background-color:transparent;
	background-color:  #159a80;
	border-color: #148f77;
	padding: 17px 43px;
	font-weight: 700;
	font-size: 22px;
}


.footer-section{
	background-color:#2c3e50;
	padding: 100px 0px;
	color: white;
}


.footer-contant{}
.footer-contant h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-contant p {
    font-size: 19px;
    font-weight: 400;
}
.footer-contant i{
	 border: 2px solid;
    border-radius: 30px;
    padding: 12px;
    margin: 0 5px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}
.footer-contant ul{
	list-style: none;
}
.footer-contant ul li{
	display: inline-block;
}
.footer-contant i:hover{
	background-color: white;
	color: black;
}

.form-control {
	font-size: 25px;
	font-weight: 600;
}
.form{
	font-size: 25px;
}
.form-section{
	padding: 100px 0px;
}


.footer-end{
	background-color:#1A252F; 
	padding:20px 0px;
}
.footer-end p{
	font-size: 22px;text-align: center;
	color: white;
}